<div class="container">
  <header class="jumbotron subhead">
    <h1>Header</h1>
  </header>
  <div class="nav-collapse.collapse">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">This Other Thing</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
    <div class="row show-grid">
      <div class="span9">
        <div id="feed">Loading...</div>
      </div>
      <div class="span3">
        <div id="side-stuff">
        </div>
      </div>
    </div>

</div>


