#blog-content.row.show-grid
  .span9{:style => "width:900px;"}
    .pagination{:class => "#{ params[:controller] == 'static' ? 'hide' : '' }"}
      %ul#pagination-li
        %li.prev
          %a#prev{:href => '/page/prev'} <
        %li.next
          %a#next{:href => '/page/2'} >
  #feed.span9
    -# If the user doesn't have javascript, go to plan B.
    - @noscript_posts ||= []
    - if @noscript_posts.length == 1
      - post = @noscript_posts.first
      = render :partial => '/posts/show', :locals => {:post => post}
    - elsif @noscript_posts.length > 1
      = render :partial => '/posts/index', :locals => {:posts => @noscript_posts}
  =render :partial => 'main/side_stuff'

          
