<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'http://hautaulogy.com/resume' %>
  </head>
  <body>
    <header>
            <h1>Andrew Hautau <!-- <span>CV</span> --></h1>
            <ul>
                    <li><a href="mailto:arhautau@gmail.com">arhautau@gmail.com</a></li>
        <li><a href="http://www.hautaulogy.com" target="_blank">http://hautaulogy.com</a></li>
                    <!-- <li><a href="http://twitter.com/vogti" target="_blank">@vogti</a></li> -->
            </ul>
            <address>4514 Thackeray PL NE, Seattle WA 98105</address>
    </header>

    <section id="summary">
            <h1>Skills</h1>
      <h3>Engineering</h3>
            <p>As a full stack Web developer, I am proficient with a mixture of technologies. This includes Ruby and the Ruby on Rails framework, SQL (particularly PostgreSQL and MySQL), Neo4J (a graph database), JavaScript and client-side frameworks such as jQuery and Backbone.js, as well as HTML and CSS (and associated languages such as SASS and HAML). I have a working experience using D3.js for data visualizations. I use Git for version control on all of my projects. I am well versed in variety of system administration tools. </p>
      <h3>Analysis</h3>
            <p>I am proficient with tools such as the R language and Weka towards data analysis and machine learning. My final project for my recent Data Science certificate consisted of my first Kaggle competition, the goal of which was to predict survivors of the Titanic.</p>
    </section>

    <section id="education">
            <h1>Education</h1>
            <p>
                    <ol class="timeline">
                            <li>
                                    <p class="date">09.2012 – 08.2013</p>
            <p class="location">Seattle, WA</p>
                                    <p><strong>Certificate, Data Science</strong></p>
            <p class="note">University of Washington<br />
            </p>
                            </li>

                            <li>
                                    <p class="date">10.2011 – 06.2012</p>
            <p class="location">Seattle, WA</p>
            <p><strong>Certificate, Ruby Development</strong></p>
                                    <p class="note">University of Washington</p>
                            </li>
                            <li>
                                    <p class="date">08.2009 – 08.2010</p>
            <p class="location">Tallahassee, FL</p>
            <p><strong>Master of Science, Information Studies</strong></p>
                                    <p class="note">Florida State University</p>
                            </li>
                            <li>
                                    <p class="date">08.2005 – 05.2009</p>
            <p class="location">Tallahassee, FL</p>
            <p><strong>Bachelor of Arts, Music and History</strong></p>
                                    <p class="note">Florida State University</p>
                            </li>
                    </ol>
            </p>
    </section>


    <section id="work-experience">
      <h1>Work experience</h1>
            <p>
                    <ol class="timeline">
                            <li>
                                    <p class="date">6.2013</p>
            <p class="location">Seattle, WA</p>
                                    <p><strong>Developer, Magneeto (Startup Weekend, Maker Edition Winners)	June 2013</strong></p>
                                    <p class="note">As part of Team Magneeto, the competition winners, I was lead for the web application used in our product demonstration. The idea behind Magneeto was to provide users a simple, yet versatile means of data collection and analysis for a variety of exercise applications. </p>
                            </li>
          
                            <li>
                                    <p class="date">7.2012 - Present</p>
            <p class="location">Seattle, WA</p>
                                    <p><strong>Lead Developer, LikeBright</strong></p>
                                    <p class="note">LikeBright is a dating site that leverages Facebook data to connect people through mutual interest. As LikeBright’s first non-founding full-time hire, I have taken a leading technical role in development of the product through a rapid pace of product iterations, tackling the full stack of the codebase in the implementation of new features. This role has also given me the opportunity to provide leadership to other developers and non-technical team members alike. </p>
                            </li>
                            <li>
                                    <p class="date">07.2011 - 07.2012</p>
            <p class="location">Seattle, WA</p>
                                    <p><strong>Data Indexer, Institute for Health Metrics And Evaluation</strong></p>
                                    <p class="note">Technical documentation and metadata creation for IHME’s internal data resources and the GHDx (http://ghdx.healthmetricsandevaluation.org/). While this role did not involve development, one of my first mature coding projects was a data visualization tool for GHDx metadata.</p>
            <!-- WÜrzburg
    Unterstützung bei Tests für den E.ON.de Online Vertragsabschluss-Prozess
    -->
                            </li>
          
                            <li>
                                    <p class="date">07.2011 - 07.2012</p>
            <p class="location">Seattle, WA</p>
                                    <p><strong>CMS Development</strong></p>
                                    <p class="note">I did volunteer web development for a community at the University of Washington and became familiar with simple Drupal administration and LAMP stack development.</p>
                            </li>
          
                            <li>
                                    <p class="date">08.2009 - 08.2010</p>
            <p class="location">Tallahassee, FL</p>
                                    <p><strong>Graduate Assistant, Heritage Protocol Archive</strong></p>
                                    <p class="note">During this assistantship, I gained an applied knowledge of simple web technologies such as HTML and CSS. Most of my responsibilities involved digitization efforts of the archive’s collections.</p>
                            </li>
          
                            <li>
                                    <p class="date"></p>
            <p class="location"></p>
                                    <p><strong></strong></p>
                                    <p class="note"></p>
                            </li>
                    </ol>
            </p>

    <section id="technical-skills">
            <h1>Technical skills</h1>

      <h2>Web Back End</h2>
            <ul>
                    <li><strong>Frameworks: Rails, Sinatra, Node.js</strong></li>
                    <li><strong>SQL (PostGres, MySQL)</strong></li>
        <li><strong>Neo4J via Neography (Graph DB)</strong></li>
            </ul>
      
      <h2>Web Front End</h2>
            <ul>
                    <li><strong>HTML5 (HAML,ERB, ...)</strong></li>
                    <li><strong>CSS (SASS, LESS)</strong></li>
        <li><strong>UI Frameworks such as jQuery UI and Twitter Bootstrap</strong></li>
                    <li><strong>JavaScript Frameworks such as jQuery, Backbone.js</strong></li>
            </ul>
      
      <h2>Version Control</h2>
            <ul>
                    <li><strong>Git</strong>
            </ul>
        
      <h2>Machine Learning and Analysis</h2>
            <ul>
                    <li><strong>R</strong></li>
                    <li><strong>Weka</strong></li>
            </ul>
      
      <h2>System Administration</h2>
            <ul>
        <li><strong>Windows</strong>, <strong>Linux</strong>, <strong>OSX</strong></li>
            </ul>
    </section>

    <section id="general">


      <section id="hobbies">
          <h2>Personal interests</h2>
          <p>Music (Pricinpal Instrument Saxophone, also enjoys guitar and keyboard), Climbing (bouldering, top roping, lead)</p> 
      </section>
    </section>

    <section id="references">
      <h1>Recent Sample Work</h1>
    <ul id="websites">
      <li>
        <h2><a href="http://www.hautaulogy.com" target="_blank">hautaulogy.com</a></h2>
        <p>
          My blog, a Rails/Backbone.js app I made from the ground up.
        </p>
      </li>
      <li>
        <h2><a href="https://github.com/CrossTheStreams/kaggle_titanic" target="_blank">Titanic Kaggle Competition</a></h2>
        <p>
          Entry for Kaggle competition to predict survivors of the RMS Titanic. I developed an R script to detect signal from a variety of features in the data set, train a Support Vector Machine, and test against the test set. This project beat the benchmark with a score of 79%.
        </p>
      </li>
      <li>
        <h2><a href="http://www.tgsdkmf.com" target="_blank">The Government Shutdown Kept Me From...</a></h2>
        <p>
         In early October 2013, I made a simple Rails app, coupled with a Twitter bot, for people to post how the shutdown of the federal government effected them. 
        </p>
      </li>
      
      </ul>
    </section>

    <footer>
            <p>References are available upon request.</p>
    </footer>
  </body>
</html>
