.row.show-grid
  .span7
    %h1 Blog Admin
    %br
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th ID
          %th Title
          %th Tags
          %th Published?
          %th Options
      %tbody
        -@posts.map do |p|
          %tr
            %td 
              %span #{p[:id]}
            %td 
              %span #{p[:title]}
            %td 
              %span.keywords #{list_keywords(p[:tags])}
            %td
              = published?(p[:public])
