.modal {
  left: 320px;
  width: 90%;
}
#new-modal {
}

.tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

.close-keyword {
 white-space: pre-wrap;
 color:white;
 cursor:pointer;
}

.keyword {
  display: inline;
  background-color: rgb(75, 140, 238);
  padding: 7px 10px 7px 7px;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
}

.modal-body {
  max-height: 710px; }

.modal.fade.in {
  top: 2%; }

input {
  width: 300px; }

#keywords {
  width: 600px; }

#admin-title .btn {
  float: right; }
#admin-title h1 {
  float: left; }

#content textarea {
  width:98%;
  font-family: 'Monaco', courier, monospace;
  font-size: 13px;
  padding: 10px;
  height:400px;
  min-height: 0px;
  background-color: #262626;
  color: #8ee2e3; }

input#title {
  font-family: 'Monaco', courier, monospace;
  font-size: 13px; }
