#new-modal {
  left: 40%;
  width: 800px;
  height: 650px; }

#edit-modal {
  left: 40%;
  width: 800px;
}

.tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

.close-keyword {
 white-space: pre-wrap;
 color:white;
 cursor:pointer;
}

.keyword {
  display: inline;
  background-color: rgb(75, 140, 238);
  padding: 7px 10px 7px 7px;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
}

.modal-body {
  max-height: 610px; }

.modal.fade.in {
  top: 5%; }

input {
  width: 300px; }

textarea {
  width: 750px;
  height: 300px; }

#keywords {
  width: 600px; }

#admin-title .btn {
  float: right; }
#admin-title h1 {
  float: left; }

#analytics {
  margin-left: 20px;
  min-height: 500px; }
  #analytics h1 {
    margin-left: 20px; }

#content {
  padding: 135px 75px 0px 25px; }

#content textarea {
  font-family: 'Monaco', courier, monospace;
  font-size: 13px;
  padding: 10px;
  min-height: 0px;
  background-color: #262626;
  color: #8ee2e3; }

input#title {
  font-family: 'Monaco', courier, monospace;
  font-size: 13px; }
