#destroy-modal.modal.hide.hade.in
  .modal-header
    %button.close{:type => "button", :"data-dismiss" => "modal"}x
    %h3 Edit Post
  .modal-body
    %p.destroy-warning Are you sure you want to destroy this post?
  .modal-footer
    #destroy-post-btn.btn.btn-danger
      Delete Post
