#edit-modal.modal.hide.fade.in
  .modal-header
    %button.close{:type => "button", :"data-dismiss" => "modal"}
    %h3 Modal header
  .modal-body
  .modal-footer
    %a.btn{:href => "#", :"data-dismiss" => "modal"} Close
    %a.btn.btn-primary{:href => "#"} Save changes


