#edit-modal.modal.hide.fade.in
  .modal-header
    %button.close{:type => "button", :"data-dismiss" => "modal"}x
    %h3 Edit Post 
  .modal-body
    =form_tag 'api/posts/' do
      =label_tag :title
      =text_field_tag :title
      =label_tag :content
      =text_area_tag :content, nil, :placeholder => "Use Textile markup."
      =label_tag :tags
      .tags
      =text_field_tag 'keywords', nil, :placeholder => "Enter new tags for the post."
      %br
      =label_tag :publish, 'Publish?', :style => "float:left;margin-right:10px;"
      =check_box_tag :published
      %p
      =submit_tag "Update Post", :id => "update-btn", :class => "btn", :type => "button"




