// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-modal {
  left: 40%;
  width: 800px; 
  height: 610px;
}
#edit-modal {
  left: 40%;
  width: 800px; 
  height: 610px;
}
.modal-body {
  max-height: 610px;
}
.modal.fade.in {
  top: 45%;
}
input {
  width: 300px;
}
textarea {
  width: 600px;
  height: 300px;
}
#keywords {
  width: 600px;
}
#admin-title {
  .btn {
    float:right;
  }
  h1 {
    float:left;
  }
}

#analytics{
  h1 {
    margin-left:20px;
  }
  margin-left:20px;
  min-height: 500px;
}

#content textarea {
 font-family: 'Monaco', courier, monospace;
 font-size:13px;
}
 input#title {
 font-family: 'Monaco', courier, monospace;
 font-size:13px;
}

