// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-modal {
  left: 40%;
  width: 800px; 
  height: 610px;
}
#edit-modal {
  left: 40%;
  width: 800px; 
  height: 610px;
}
.modal-body {
  max-height: 610px;
}
.modal.fade.in {
  top: 45%;
}
input {
  width: 300px;
}
textarea {
  width: 600px;
  height: 300px;
}
#keywords {
  width: 600px;
}
#admin-title {
  margin: 20px 0px 20px 0px;
  .btn {
    float:right;
  }
  h1 {
    float:left;
  }
}
