/*
 *
 *= require_self
 *= require main
 += require admin
*/


$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$navbarBackground: #555;
$navbarBackgroundHighlight: #888;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarHeight: 50px;
$linkColor: #333;
$linkColorHover: #08C;

p {
 a{ 
   color: #07C;
 }
}

@import "bootstrap";

body { 
  padding-top: 30px;
  background-color: #333333;
}
h3 {
 font-size:1.5em;
}
.pagination ul>li>a, 
.pagination ul>li>span {
  border:none;  
}
.container {
  width:100%;
}
#bubble-cloud {
  height: 400px;
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  .container { 
    width: 100%;
  }
}

.navbar .brand {
  color: #FAFFB8;
}

.navbar .nav {
  margin: 10px 0px 10px 0px;
  a {
    font-size: 15px;
  }
}

.nav {
  li {
    margin-right:30px;
  }
}

ul.nav {
  margin: 10px 10px 0px 0px;
}
ul.nav.search {
  width: 251px;
  float:right;
  top: 0.3em;
  left: -11.5em;
}
ul.nav.links {
  width: 360px;
}

header{
   #admin-nav {
   width:200px;
   float:right;
  }
}
.title {
  margin-left: -10px;
  width: 1040px;
  .character{
    width:70px;
    height:109px;
    float:left;
    margin-top:-13px;
    img {
      width:70px;
    }
  .title-text{
    text-align:right;
  }
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1B9BFF;
    width: 350px;
  }
  h3 {
    color: #1B9BFF;
    margin-top: 10px;
  }
}
a:hover {
  text-decoration:none;
}

.navbar-inner {
  height: 4em ;
  form {
    input {
      width:220px;
    }
  }
}
#admin-nav {
  ul {
      list-style-type: none;
  }
}
.jumbotron {
  height: 50px;
  margin: 10px 0px 10px 0px;
  text-color: $grayDarker;
}

#blog-content { 
  height: 100%;
}

input.search-query {
  margin-top: -1em;
}

.white-div {
  position: fixed;
  top: 0px;
  background-color: #333333;
  margin-top: -50px;
  left: 40px;
  padding-left: 50px;
  margin-left: -50px;
  width: 100%;
}

#content {
  margin-right:auto;
  margin-left:auto;
  min-height: 900px;
  background-color: #D1E7D1;
  padding: 160px 75px 0px 25px;
}

.icons {
  float: right;
  margin-top: -75px;
  width:200px;
  img {
    width: 50px;
    height: 50px;
  }
}

h3.comments-link {
  line-height: 80px;
}
.pagination {
  font-size: 2.2em;
  margin-top: 0.45em !important;
}
.pagination a:hover {
    background-color: transparent !important;
}

