// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// Set the correct sprite paths

#feed {
  min-width:60%;
  min-height:800px;
}

.post {
  margin: 0px 0px 50px 0px;
  line-height: 2em;
  border-bottom: 1px solid #333333;
}

.post p {
  margin-bottom: 1em;
  margin-top: 1.2em;
  font-size: 1.2em;
  line-height: 2em;
}
.post h1 {
  font-size: 40px;
}

#side-stuff {
  float: right;
  margin-right: 32%;
  top: 270px;
}

.pagination {
  font-size: 2.2em;
  margin: 10px 0;
  float: left;
  width: 12em;
  a {
    background-color: transparent !important;
    border:none;
  }
  .active a {
    background-color: transparent !important;
    border:none;  
  }
}

