// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// Set the correct sprite paths

#side-stuff {
  width:380px;
  position:fixed;
    .pagination {
      margin: 0px;
      width:400px;
      a {
        }
      ul {
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    } 
}
