=javascript_include_tag "jquery", "jquery_ujs"
=javascript_include_tag "underscore.v142.min", "backbone.v092.min"
=javascript_include_tag "bootstrap-dropdown", "bootstrap-transition", "bootstrap-typeahead"
=javascript_include_tag "blog"
=javascript_include_tag "/javascripts/bubble-cloud"
