=javascript_include_tag "/javascripts/jquery.min", "/javascripts/rails"
=javascript_include_tag "/javascripts/underscore.v142.min", "/javascripts/backbone.v092.min"
=javascript_include_tag "blog"
=javascript_include_tag "/javascripts/bubble-cloud"
